apiVersion: v1
kind: Service
metadata:
  name: nodejs-app
  namespace: nodejs-app
  labels:
    app: nodejs-app
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path: /health
spec:
  type: {{ .Values.service.type }}
  selector:
    app: nodejs-app
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
